@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600;700;800;900&display=swap");

/* font-family: 'Fraunces', serif; */
/* font-family: 'Barlow', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
}

html,
body {
  width: 100%;
  background-color: #000000;
}

section {
  width: 1440px;
  margin: auto;
  background-color: #ffffff;
}

.hero {
  background-image: url(images/desktop/image-header.jpg);
  background-size: cover;
  height: 800px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
  padding-top: 30px;
  align-items: center;
  margin-bottom: 120px;
}

.right-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-bar {
  display: none;
}

button {
  font-family: "Fraunces", serif;
  font-weight: 900;
  padding: 17px 35px;
  border: 0;
  border-radius: 50px;
}

button:hover {
  background-color: hsl(200, 100%, 72%);
  color: #ffffff;
}

.right-container ul {
  display: flex;
  gap: 50px;
}

.right-container ul li {
  list-style-type: none;
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.hero h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 60px;
  letter-spacing: 8px;
  margin-bottom: 100px;
}

.second-div {
  display: flex;
  height: 600px;
}

.second-div-mobile {
  display: none;
}

.second-div-writeup {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 125px;
  padding-left: 165px;
}

.second-div-writeup h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 50px;
  color: hsl(212, 27%, 19%);
}

.second-div-writeup p {
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 50px;
  font-size: 17px;
}

.second-div-writeup span {
  width: max-content;
  padding: 0 7px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  border-bottom: 8px solid hsl(51, 64%, 84%);
}

.second-div-writeup span:hover {
  border-bottom: 8px solid hsl(51, 100%, 49%);
}

.third-div {
  display: flex;
  height: 600px;
}

.third-div-mobile {
  display: none;
}

.third-div-writeup {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 175px;
  padding-left: 110px;
}

.third-div-writeup h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 50px;
  color: hsl(212, 27%, 19%);
}

.third-div-writeup p {
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 50px;
  font-size: 17px;
}

.third-div-writeup span {
  width: max-content;
  padding: 0 7px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  border-bottom: 8px solid hsl(6, 78%, 86%);
}

.third-div-writeup span:hover {
  border-bottom: 8px solid hsl(7, 99%, 70%);
}

.fourth-div {
  display: flex;
  height: 600px;
}

.photography-mobile {
  display: none;
}

.graphic-design-mobile {
  display: none;
}

.graphic-design-desktop {
  background-image: url(images/desktop/image-graphic-design.jpg);
  text-align: center;
  width: 50%;
}

.graphic-design-desktop h1 {
  margin-top: 400px;
  color: hsl(167, 40%, 24%);
  font-family: "Fraunces", serif;
  margin-bottom: 35px;
  font-weight: 800;
}

.graphic-design-desktop p {
  width: 320px;
  margin: auto;
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}

.photography-desktop {
  background-image: url(images/desktop/image-photography.jpg);
  text-align: center;
  width: 50%;
}

.photography-desktop h1 {
  margin-top: 400px;
  color: hsl(198, 62%, 26%);
  font-family: "Fraunces", serif;
  margin-bottom: 35px;
  font-weight: 800;
}

.photography-desktop p {
  width: 320px;
  margin: auto;
  color: hsl(198, 62%, 26%);
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}

.fifth-div {
  background-color: #ffffff;
  padding: 165px 170px;
  text-align: center;
}

.fifth-div > h1 {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: hsl(210, 4%, 67%);
  letter-spacing: 5px;
  font-size: 23px;
  font-weight: 900;
  margin-bottom: 75px;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
}

.testimonial-container div {
  width: 330px;
}

.testimonial-container div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 55px;
}

.testimonial-container div p {
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
  font-weight: 600;
  margin-bottom: 80px;
  line-height: 25px;
  font-size: 17px;
}

.testimonial-container div h1 {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 15px;
}

.testimonial-container div span {
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.sixth-div {
  height: 450px;
}

.sixth-div-mobile {
  display: none;
}

.sixth-div-desktop {
  display: flex;
  width: 100%;
  height: 100%;
}

.sixth-div-desktop div {
  width: 360px;
}

.sixth-div-desktop div img {
  width: inherit;
  height: inherit;
}

footer {
  padding: 75px 0;
  background-color: hsl(167, 44%, 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-list ul {
  display: flex;
  gap: 55px;
  margin-top: 40px;
  margin-bottom: 74px;
}

.footer-list ul li {
  list-style-type: none;
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.footer-list ul li:hover {
  color: #ffffff;
}

.footer-icons {
  color: hsl(167, 40%, 24%);
  font-size: 24px;
  display: flex;
  gap: 30px;
}

.footer-icons i:hover {
  color: #ffffff;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 375px and BELOW */
@media screen and (max-width: 375px) {
  section {
    width: 100%;
  }

  .hero {
    height: max-content;
    background-image: url(images/mobile/image-header.jpg);
  }

  header {
    padding: 0 25px;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .right-container {
    display: none;
  }

  .nav-bar {
    display: block;
    color: #ffffff;
  }

  .hero h1 {
    font-size: 45px;
    margin-bottom: 35px;
  }

  .arrow {
    margin-bottom: 120px;
  }

  .second-div {
    flex-direction: column-reverse;
    height: max-content;
  }

  .second-div-desktop {
    display: none;
  }

  .second-div-mobile {
    display: block;
    height: 310px;
  }

  .second-div-mobile img {
    height: 100%;
    width: 100%;
  }

  .second-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .second-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .second-div-writeup p {
    line-height: 25px;
    font-size: 15px;
  }

  .second-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .third-div {
    height: max-content;
    flex-direction: column;
  }

  .third-div-desktop {
    display: none;
  }

  .third-div-mobile {
    display: block;
    height: 310px;
  }

  .third-div-mobile img {
    width: 100%;
    height: 100%;
  }

  .third-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .third-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .third-div-writeup p {
    line-height: 25px;
    font-size: 16px;
  }

  .third-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .fourth-div {
    flex-direction: column;
    height: 1200px;
  }

  .graphic-design-desktop {
    display: none;
  }

  .photography-desktop {
    display: none;
  }

  .graphic-design-mobile {
    display: block;
    background-image: url(images/mobile/image-graphic-design.jpg);
    text-align: center;
    height: 50%;
    background-size: contain;
  }

  .graphic-design-mobile h1 {
    margin-top: 400px;
    color: hsl(167, 40%, 24%);
    font-family: "Fraunces", serif;
    margin-bottom: 35px;
    font-weight: 800;
  }

  .graphic-design-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(167, 40%, 24%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

  .photography-mobile {
    display: block;
    background-image: url(images/mobile/image-photography.jpg);
    text-align: center;
    height: 50%;
    background-size: contain;
  }

  .photography-mobile h1 {
    margin-top: 400px;
    color: hsl(198, 62%, 26%);
    font-family: "Fraunces", serif;
    margin-bottom: 35px;
    font-weight: 800;
  }

  .photography-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(198, 62%, 26%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

  .fifth-div {
    padding: 0;
    padding-top: 65px;
    padding-bottom: 90px;
  }

  .fifth-div > h1 {
    font-size: 16px;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 70px;
  }

  .testimonial-container div {
    width: 100%;
    padding: 0 30px;
  }

  .sixth-div {
    height: 375px;
  }

  .sixth-div-desktop {
    display: none;
  }

  .sixth-div-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
  }

  .sixth-div-mobile div {
    width: 187.5px;
    height: 187.5px;
  }

  .sixth-div-mobile div img {
    width: inherit;
    height: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 376px TO 450px */
@media screen and (min-width: 376px) and (max-width: 450px) {
  section {
    width: 375px;
  }

  .hero {
    height: max-content;
    background-image: url(images/mobile/image-header.jpg);
  }

  header {
    padding: 0 25px;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .right-container {
    display: none;
  }

  .nav-bar {
    display: block;
    color: #ffffff;
  }

  .hero h1 {
    font-size: 45px;
    margin-bottom: 35px;
  }

  .arrow {
    margin-bottom: 120px;
  }

  .second-div {
    flex-direction: column-reverse;
    height: max-content;
  }

  .second-div-desktop {
    display: none;
  }

  .second-div-mobile {
    display: block;
    height: 310px;
  }

  .second-div-mobile img {
    height: 100%;
    width: 100%;
  }

  .second-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .second-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .second-div-writeup p {
    line-height: 25px;
    font-size: 15px;
  }

  .second-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .third-div {
    height: max-content;
    flex-direction: column;
  }

  .third-div-desktop {
    display: none;
  }

  .third-div-mobile {
    display: block;
    height: 310px;
  }

  .third-div-mobile img {
    width: 100%;
    height: 100%;
  }

  .third-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .third-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .third-div-writeup p {
    line-height: 25px;
    font-size: 16px;
  }

  .third-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .fourth-div {
    flex-direction: column;
    height: 1200px;
  }

  .graphic-design-desktop {
    display: none;
  }

  .photography-desktop {
    display: none;
  }

  .graphic-design-mobile {
    display: block;
    background-image: url(images/mobile/image-graphic-design.jpg);
    text-align: center;
    height: 50%;
    background-size: contain;
  }

  .graphic-design-mobile h1 {
    margin-top: 400px;
    color: hsl(167, 40%, 24%);
    font-family: "Fraunces", serif;
    margin-bottom: 35px;
    font-weight: 800;
  }

  .graphic-design-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(167, 40%, 24%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

  .photography-mobile {
    display: block;
    background-image: url(images/mobile/image-photography.jpg);
    text-align: center;
    height: 50%;
    background-size: contain;
  }

  .photography-mobile h1 {
    margin-top: 400px;
    color: hsl(198, 62%, 26%);
    font-family: "Fraunces", serif;
    margin-bottom: 35px;
    font-weight: 800;
  }

  .photography-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(198, 62%, 26%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

   .fifth-div {
    padding: 0;
    padding-top: 65px;
     padding-bottom: 90px;
  }

  .fifth-div > h1 {
    font-size: 16px;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 70px;
  }

  .testimonial-container div {
    width: 100%;
    padding: 0 30px;
  }

  .sixth-div {
    height: 375px;
  }

  .sixth-div-desktop {
    display: none;
  }

  .sixth-div-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
  }

  .sixth-div-mobile div {
    width: 187.5px;
    height: 187.5px;
  }

  .sixth-div-mobile div img {
    width: inherit;
    height: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 451px TO 525px */
@media screen and (min-width: 451px) and (max-width: 525px) {
  section {
    width: 450px;
  }

  .hero {
    height: max-content;
    background-image: url(images/mobile/image-header.jpg);
  }

  header {
    padding: 0 25px;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .right-container {
    display: none;
  }

  .nav-bar {
    display: block;
    color: #ffffff;
  }

  .hero h1 {
    font-size: 45px;
    margin-bottom: 35px;
  }

  .arrow {
    margin-bottom: 120px;
  }

  .second-div {
    flex-direction: column-reverse;
    height: max-content;
  }

  .second-div-desktop {
    display: none;
  }

  .second-div-mobile {
    display: block;
    height: 310px;
  }

  .second-div-mobile img {
    height: 100%;
    width: 100%;
  }

  .second-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .second-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .second-div-writeup p {
    line-height: 25px;
    font-size: 15px;
  }

  .second-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .third-div {
    height: max-content;
    flex-direction: column;
  }

  .third-div-desktop {
    display: none;
  }

  .third-div-mobile {
    display: block;
    height: 310px;
  }

  .third-div-mobile img {
    width: 100%;
    height: 100%;
  }

  .third-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .third-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .third-div-writeup p {
    line-height: 25px;
    font-size: 16px;
  }

  .third-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .fourth-div {
    flex-direction: column;
    height: 1200px;
  }

  .graphic-design-desktop {
    display: none;
  }

  .photography-desktop {
    display: none;
  }

  .graphic-design-mobile {
    display: block;
    background-image: url(images/mobile/image-graphic-design.jpg);
    text-align: center;
    height: 50%;
    background-size: cover;
  }

  .graphic-design-mobile h1 {
    margin-top: 400px;
    color: hsl(167, 40%, 24%);
    font-family: "Fraunces", serif;
    margin-bottom: 35px;
    font-weight: 800;
  }

  .graphic-design-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(167, 40%, 24%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

  .photography-mobile {
    display: block;
    background-image: url(images/mobile/image-photography.jpg);
    text-align: center;
    height: 50%;
    background-size: cover;
  }

  .photography-mobile h1 {
    margin-top: 400px;
    color: hsl(198, 62%, 26%);
    font-family: "Fraunces", serif;
    margin-bottom: 35px;
    font-weight: 800;
  }

  .photography-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(198, 62%, 26%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

   .fifth-div {
    padding: 0;
    padding-top: 65px;
     padding-bottom: 90px;
  }

  .fifth-div > h1 {
    font-size: 16px;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 70px;
  }

  .testimonial-container div {
    width: 100%;
    padding: 0 30px;
  }

  .sixth-div {
    height: max-content;
  }

  .sixth-div-desktop {
    display: none;
  }

  .sixth-div-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
  }

  .sixth-div-mobile div {
    width: 225px;
    height: 225px;
  }

  .sixth-div-mobile div img {
    width: inherit;
    height: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 526px TO 600px */
@media screen and (min-width: 526px) and (max-width: 600px) {
  section {
    width: 525px;
  }

  .hero {
    height: max-content;
    background-image: url(images/mobile/image-header.jpg);
    background-position-y: 50%;
  }

  header {
    padding: 0 25px;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .right-container {
    display: none;
  }

  .nav-bar {
    display: block;
    color: #ffffff;
  }

  .hero h1 {
    font-size: 45px;
    margin-bottom: 35px;
  }

  .arrow {
    margin-bottom: 120px;
  }

  .second-div {
    flex-direction: column-reverse;
    height: max-content;
  }

  .second-div-desktop {
    display: none;
  }

  .second-div-mobile {
    display: block;
    height: 310px;
  }

  .second-div-mobile img {
    height: 100%;
    width: 100%;
  }

  .second-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .second-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .second-div-writeup p {
    line-height: 25px;
    font-size: 15px;
  }

  .second-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .third-div {
    height: max-content;
    flex-direction: column;
  }

  .third-div-desktop {
    display: none;
  }

  .third-div-mobile {
    display: block;
    height: 310px;
  }

  .third-div-mobile img {
    width: 100%;
    height: 100%;
  }

  .third-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .third-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .third-div-writeup p {
    line-height: 25px;
    font-size: 16px;
  }

  .third-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .fourth-div {
    flex-direction: column;
    height: 1200px;
  }

  .graphic-design-desktop {
    display: none;
  }

  .photography-desktop {
    display: none;
  }

  .graphic-design-mobile {
    display: block;
    background-image: url(images/mobile/image-graphic-design.jpg);
    text-align: center;
    height: 50%;
    background-size: cover;
  }

  .graphic-design-mobile h1 {
    margin-top: 420px;
    color: hsl(167, 40%, 24%);
    font-family: "Fraunces", serif;
    margin-bottom: 35px;
    font-weight: 800;
  }

  .graphic-design-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(167, 40%, 24%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

  .photography-mobile {
    display: block;
    background-image: url(images/mobile/image-photography.jpg);
    text-align: center;
    height: 50%;
    background-size: cover;
  }

  .photography-mobile h1 {
    margin-top: 450px;
    color: hsl(198, 62%, 26%);
    font-family: "Fraunces", serif;
    margin-bottom: 25px;
    font-weight: 800;
  }

  .photography-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(198, 62%, 26%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

   .fifth-div {
    padding: 0;
    padding-top: 65px;
     padding-bottom: 90px;
  }

  .fifth-div > h1 {
    font-size: 16px;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 70px;
  }

  .testimonial-container div {
    width: 100%;
    padding: 0 30px;
  }

  .sixth-div {
    height: max-content;
  }

  .sixth-div-desktop {
    display: none;
  }

  .sixth-div-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
  }

  .sixth-div-mobile div {
    width: 262.5px;
    height: 262.5px;
  }

  .sixth-div-mobile div img {
    width: inherit;
    height: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 601px TO 685px */
@media screen and (min-width: 601px) and (max-width: 685px) {
  section {
    width: 600px;
  }

  .hero {
    height: 600px;
    background-image: url(images/mobile/image-header.jpg);
    background-position-y: 70%;
  }

  header {
    padding: 0 25px;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .right-container {
    display: none;
  }

  .nav-bar {
    display: block;
    color: #ffffff;
  }

  .hero h1 {
    font-size: 35px;
    margin-bottom: 35px;
  }

  .arrow {
    margin-bottom: 120px;
  }

  .second-div {
    flex-direction: column-reverse;
    height: max-content;
  }

  .second-div-desktop {
    display: none;
  }

  .second-div-mobile {
    display: block;
    height: 310px;
  }

  .second-div-mobile img {
    height: 100%;
    width: 100%;
  }

  .second-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .second-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .second-div-writeup p {
    line-height: 25px;
    font-size: 15px;
  }

  .second-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .third-div {
    height: max-content;
    flex-direction: column;
  }

  .third-div-desktop {
    display: none;
  }

  .third-div-mobile {
    display: block;
    height: 310px;
  }

  .third-div-mobile img {
    width: 100%;
    height: 100%;
  }

  .third-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .third-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .third-div-writeup p {
    line-height: 25px;
    font-size: 16px;
  }

  .third-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .fourth-div {
    flex-direction: column;
    height: 1200px;
  }

  .graphic-design-desktop {
    display: none;
  }

  .photography-desktop {
    display: none;
  }

  .graphic-design-mobile {
    display: block;
    background-image: url(images/mobile/image-graphic-design.jpg);
    background-size: 100%;
    text-align: center;
    height: 50%;
    background-size: cover;
    background-position-y: 30%;
  }

  .graphic-design-mobile h1 {
    margin-top: 420px;
    color: hsl(167, 40%, 24%);
    font-family: "Fraunces", serif;
    margin-bottom: 35px;
    font-weight: 800;
  }

  .graphic-design-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(167, 40%, 24%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

  .photography-mobile {
    display: block;
    background-image: url(images/mobile/image-photography.jpg);
    text-align: center;
    height: 50%;
    background-size: cover;
    background-position-y: 20%;
  }

  .photography-mobile h1 {
    margin-top: 450px;
    color: hsl(198, 62%, 26%);
    font-family: "Fraunces", serif;
    margin-bottom: 25px;
    font-weight: 800;
  }

  .photography-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(198, 62%, 26%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

   .fifth-div {
    padding: 0;
    padding-top: 65px;
     padding-bottom: 90px;
  }

  .fifth-div > h1 {
    font-size: 16px;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 70px;
  }

  .testimonial-container div {
    width: 100%;
    padding: 0 30px;
  }

  .sixth-div {
    height: max-content;
  }

  .sixth-div-desktop {
    display: none;
  }

  .sixth-div-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
  }

  .sixth-div-mobile div {
    width: 300px;
    height: 300px;
  }

  .sixth-div-mobile div img {
    width: inherit;
    height: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 686px TO 767px */
@media screen and (min-width: 686px) and (max-width: 767px) {
  section {
    width: 685px;
  }

  .hero {
    height: 600px;
    background-image: url(images/mobile/image-header.jpg);
    background-position-y: 70%;
  }

  header {
    padding: 0 25px;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .right-container {
    display: none;
  }

  .nav-bar {
    display: block;
    color: #ffffff;
  }

  .hero h1 {
    font-size: 35px;
    margin-bottom: 35px;
  }

  .arrow {
    margin-bottom: 120px;
  }

  .second-div {
    flex-direction: column-reverse;
    height: max-content;
  }

  .second-div-desktop {
    display: none;
  }

  .second-div-mobile {
    display: block;
    height: 310px;
  }

  .second-div-mobile img {
    height: 100%;
    width: 100%;
  }

  .second-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .second-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .second-div-writeup p {
    line-height: 25px;
    font-size: 15px;
  }

  .second-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .third-div {
    height: max-content;
    flex-direction: column;
  }

  .third-div-desktop {
    display: none;
  }

  .third-div-mobile {
    display: block;
    height: 310px;
  }

  .third-div-mobile img {
    width: 100%;
    height: 100%;
  }

  .third-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .third-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .third-div-writeup p {
    line-height: 25px;
    font-size: 16px;
  }

  .third-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .fourth-div {
    flex-direction: column;
    height: 1200px;
  }

  .graphic-design-desktop {
    display: none;
  }

  .photography-desktop {
    display: none;
  }

  .graphic-design-mobile {
    display: block;
    background-image: url(images/mobile/image-graphic-design.jpg);
    background-size: 100%;
    text-align: center;
    height: 50%;
    background-size: cover;
    background-position-y: 30%;
  }

  .graphic-design-mobile h1 {
    margin-top: 420px;
    color: hsl(167, 40%, 24%);
    font-family: "Fraunces", serif;
    margin-bottom: 35px;
    font-weight: 800;
  }

  .graphic-design-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(167, 40%, 24%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

  .photography-mobile {
    display: block;
    background-image: url(images/mobile/image-photography.jpg);
    text-align: center;
    height: 50%;
    background-size: cover;
    background-position-y: 20%;
  }

  .photography-mobile h1 {
    margin-top: 450px;
    color: hsl(198, 62%, 26%);
    font-family: "Fraunces", serif;
    margin-bottom: 25px;
    font-weight: 800;
  }

  .photography-mobile p {
    width: 320px;
    margin: auto;
    color: hsl(198, 62%, 26%);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
  }

   .fifth-div {
    padding: 0;
    padding-top: 65px;
     padding-bottom: 90px;
  }

  .fifth-div > h1 {
    font-size: 16px;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 70px;
    width: 450px;
     margin: auto;
  }

  .testimonial-container div {
    width: 100%;
    padding: 0 30px;
  }

  .sixth-div {
    height: max-content;
  }

  .sixth-div-desktop {
    display: none;
  }

  .sixth-div-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
  }

  .sixth-div-mobile div {
    width: 342.5px;
    height: 342.5px;
  }

  .sixth-div-mobile div img {
    width: inherit;
    height: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 768px TO 840px */

@media screen and (min-width: 768px) and (max-width: 840px) {
section {
    width: 767px;
  }

  .hero {
    height: 600px;
    background-image: url(images/mobile/image-header.jpg);
    background-position-y: 70%;
  }

  header {
    padding: 0 25px;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .nav-bar{
    display: none;
  }

  .hero h1 {
    font-size: 35px;
    margin-bottom: 35px;
  }

  .arrow {
    margin-bottom: 120px;
  }

  .second-div {
    flex-direction: column-reverse;
    height: max-content;
    width: 70%;
    margin: auto;
  }

  .second-div-desktop {
    display: none;
  }

  .second-div-mobile {
    display: block;
    height: 310px;
  }

  .second-div-mobile img {
    height: 100%;
    width: 100%;
  }

  .second-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .second-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .second-div-writeup p {
    line-height: 25px;
    font-size: 15px;
  }

  .second-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .third-div {
    height: max-content;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }

  .third-div-desktop {
    display: none;
  }

  .third-div-mobile {
    display: block;
    height: 310px;
  }

  .third-div-mobile img {
    width: 100%;
    height: 100%;
  }

  .third-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .third-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .third-div-writeup p {
    line-height: 25px;
    font-size: 16px;
  }

  .third-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .graphic-design-desktop {
   background-position-x: center;
  }

  .photography-desktop {
     background-position-x: center;
  }

  .fifth-div {
    padding: 0;
    padding-top: 65px;
     padding-bottom: 90px;
  }

  .fifth-div > h1 {
    font-size: 16px;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 70px;
    width: 450px;
     margin: auto;
  }

  .testimonial-container div {
    width: 100%;
    padding: 0 30px;
  }

   .sixth-div {
    height: max-content;
  }

  .sixth-div-desktop {
    display: none;
  }

  .sixth-div-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
  }

  .sixth-div-mobile div {
    width: 383.5px;
    height: 383.5px;
  }

  .sixth-div-mobile div img {
    width: inherit;
    height: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 841px TO 915px */

@media screen and (min-width: 841px) and (max-width: 915px) {
  section {
    width: 840px;
  }

   .hero {
    height: 600px;
    background-image: url(images/mobile/image-header.jpg);
    background-position-y: 70%;
  }

  header {
    padding: 0 25px;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .nav-bar{
    display: none;
  }

  .hero h1 {
    font-size: 35px;
    margin-bottom: 35px;
  }

  .arrow {
    margin-bottom: 120px;
  }

  .second-div {
    flex-direction: column-reverse;
    height: max-content;
    width: 70%;
    margin: auto;
  }

  .second-div-desktop {
    display: none;
  }

  .second-div-mobile {
    display: block;
    height: 310px;
  }

  .second-div-mobile img {
    height: 100%;
    width: 100%;
  }

  .second-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .second-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .second-div-writeup p {
    line-height: 25px;
    font-size: 15px;
  }

  .second-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .third-div {
    height: max-content;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }

  .third-div-desktop {
    display: none;
  }

  .third-div-mobile {
    display: block;
    height: 310px;
  }

  .third-div-mobile img {
    width: 100%;
    height: 100%;
  }

  .third-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .third-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .third-div-writeup p {
    line-height: 25px;
    font-size: 16px;
  }

  .third-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .graphic-design-desktop {
   background-position-x: center;
  }

  .photography-desktop {
     background-position-x: center;
  }

  .fifth-div {
    padding: 0;
    padding-top: 65px;
     padding-bottom: 90px;
  }

  .fifth-div > h1 {
    font-size: 16px;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 70px;
    width: 450px;
     margin: auto;
  }

  .testimonial-container div {
    width: 100%;
    padding: 0 30px;
  }

  .sixth-div {
    height: max-content;
  }

  .sixth-div-desktop {
    display: none;
  }

  .sixth-div-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
  }

  .sixth-div-mobile div {
    width: 420px;
    height: 420px;
  }

  .sixth-div-mobile div img {
    width: inherit;
    height: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 916px TO 990px */

@media screen and (min-width: 916px) and (max-width: 990px) {
  section {
    width: 915px;
  }

   .hero {
    height: 600px;
    background-image: url(images/mobile/image-header.jpg);
    background-position-y: 70%;
  }

  header {
    padding: 0 25px;
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .nav-bar{
    display: none;
  }

  .hero h1 {
    font-size: 35px;
    margin-bottom: 35px;
  }

  .arrow {
    margin-bottom: 120px;
  }

  .second-div {
    flex-direction: column-reverse;
    height: max-content;
    width: 50%;
    margin: auto;
  }

  .second-div-desktop {
    display: none;
  }

  .second-div-mobile {
    display: block;
    height: 310px;
  }

  .second-div-mobile img {
    height: 100%;
    width: 100%;
  }

  .second-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .second-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .second-div-writeup p {
    line-height: 25px;
    font-size: 15px;
  }

  .second-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .third-div {
    height: max-content;
    flex-direction: column;
    width: 50%;
    margin: auto;
  }

  .third-div-desktop {
    display: none;
  }

  .third-div-mobile {
    display: block;
    height: 310px;
  }

  .third-div-mobile img {
    width: 100%;
    height: 100%;
  }

  .third-div-writeup {
    padding: 0 30px;
    text-align: center;
  }

  .third-div-writeup h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
  }

  .third-div-writeup p {
    line-height: 25px;
    font-size: 16px;
  }

  .third-div-writeup span {
    margin: auto;
    margin-bottom: 44px;
  }

  .graphic-design-desktop {
   background-position-x: center;
  }

  .photography-desktop {
     background-position-x: center;
  }

  .fifth-div {
    padding: 0;
    padding-top: 65px;
     padding-bottom: 90px;
  }

  .testimonial-container {
 padding: 0 20px;
}

  .testimonial-container div {
  width: 280px;
}

.testimonial-container div p{
  font-size: 16px;
}

.sixth-div {
    height: max-content;
  }

  .sixth-div-desktop {
    display: none;
  }

  .sixth-div-mobile {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
  }

  .sixth-div-mobile div {
    width: 457.5px;
    height: 457.5px;
  }

  .sixth-div-mobile div img {
    width: inherit;
    height: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 991px TO 1065px */

@media screen and (min-width: 991px) and (max-width: 1065px) {
  section {
    width: 990px;
  }
}
